body {
    background-color: #f5f5f5;
}

h1 {
    font-weight: 700;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

/* Couleur du lien actif en bleu */
.navbar .nav-link.active {
    color: #0d6efd !important;
    font-weight: bold;
}